* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #3c3c3c;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 900;
  opacity: 0.8;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #235390;
  position: fixed;
  z-index: 10;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  padding: 0 50px;
}
header .nav .logo img {
  height: 36px;
}
header .nav .nav-links p {
  color: #fff;
  font-weight: bolder;
  font-size: 15px;
}

main .home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #235390;
  background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/star-pattern.svg);
}
main .home-container .home {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .home-container .home .home-img {
  margin: 0 20px;
}
main .home-container .home .home-botoes {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  max-width: 790px;
  padding: 10px;
}
main .home-container .home .home-botoes h1 {
  color: #fff;
  font-size: 31px;
  margin-bottom: 47px;
}
main .home-container .home .home-botoes button {
  width: 320px;
  height: 50px;
  border-radius: 17px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
}
main .home-container .home .home-botoes #colorGreen {
  background-color: #58cc02;
  border: 1px solid #4ba804;
  color: #fff;
  box-shadow: 0px 3px 1px #4ba804;
  transition: 0.3s;
}
main .home-container .home .home-botoes #colorGreen:hover {
  background-color: #65e603;
}
main .home-container .home .home-botoes #colorBlue {
  background-color: #235390;
  color: #fff;
  border: 2px solid #042c60;
  box-shadow: 0px 3px 1px #042c60;
  transition: 0.3s;
}
main .home-container .home .home-botoes #colorBlue:hover {
  background-color: #214a80;
}
main .home-container .home .home-botoes #colorGreen:active, main .home-container .home .home-botoes #colorBlue:active {
  position: relative;
  top: 3px;
  box-shadow: none;
}
main .home-container .home-footer {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 74px;
  background-color: #0a4a82;
}
main .informacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
main .informacoes .info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  padding: 50px;
}
main .informacoes .info-container .info-titulo h2 {
  color: #3c3c3c;
  margin-bottom: 40px;
}
main .informacoes .info-container img {
  height: 145px;
  margin-right: 48px;
}
main .informacoes .info-container .info-box {
  display: flex;
  align-items: center;
}
main .informacoes .info-container .info-box .info-container-box {
  position: relative;
  line-height: 25px;
  width: 270px;
  margin-bottom: 10px;
}
main .informacoes .info-container .info-box .info-container-box img {
  position: absolute;
  top: -10px;
  left: -105px;
  height: 46px;
  padding: 3px;
}
main .informacoes .info-container .info-box .info-container-box h3 {
  color: #3c3c3c;
  font-size: 18px;
}
main .informacoes .info-container .info-box .info-container-box p {
  margin: 10px 0;
  font-size: 14px;
  opacity: 0.7;
}
main .informacoes .info-container .info-box img {
  height: 161px;
  margin: 0 80px 0 50px;
}
main .informacoes .info-container .info-descritivo {
  line-height: 25px;
  width: 717px;
}
main .informacoes .info-container .info-descritivo h2 {
  color: #3c3c3c;
}
main .informacoes .info-container .info-descritivo p {
  margin: 20px 0;
}
main .informacoes .linha {
  width: 1100px;
  border: 1px solid #777;
  opacity: 0.2;
}
main .informacoes .column {
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */