* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    color: #3c3c3c;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 900;
    opacity: 0.8;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #235390;
    position: fixed;
    z-index: 10;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1100px;
        padding: 0 50px;

        .logo {
            img {
                height: 36px;
            }  
        }

        .nav-links {

            p {
                color: #fff;
                font-weight: bolder;
                font-size: 15px;
            }
        }
        
    }
    
}