* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    color: #3c3c3c;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 900;
    opacity: 0.8;
}

.main {

    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #235390;
        background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/star-pattern.svg);

        .home {
            display: flex;
            justify-content: center;
            align-items: center;
            
            .home-img {
                margin: 0 20px;
            }

            .home-botoes {
                display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;
                max-width: 790px;
                padding: 10px;
                

                h1 {
                    color: #fff;
                    font-size: 31px;
                    margin-bottom: 47px;
                }

                button {
                    width: 320px;
                    height: 50px;
                    border-radius: 17px;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                    font-weight: bolder;
                    cursor: pointer;
                }

                #colorGreen {
                    background-color: #58cc02;
                    border: 1px solid #4ba804;
                    color: #fff;
                    box-shadow: 0px 3px 1px #4ba804;
                }

                #colorGreen:hover {
                    background-color: #65e603;
                }

                #colorBlue {
                    background-color: #235390;
                    color: #fff;
                    border: 2px solid #042c60;
                    box-shadow: 0px 3px 1px #042c60; 
                }
                
                #colorBlue:hover {
                    background-color: #214a80;
                }
                
                #colorGreen:active, #colorBlue:active {
                    position: relative;
                    top: 3px;
                    box-shadow: none;
                }
            }
        }

        .home-footer {
            position: absolute;
            bottom: 1px;
            width: 100%;
            height: 74px;
            background-color: #0a4a82;
        }
    } 
    
    .informacoes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;

        .info-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1100px;
            padding: 50px;

            .info-titulo {

                h2 {
                    color: #3c3c3c;
                    margin-bottom: 40px;
                }
            }

            img {
                height: 145px;
                margin-right: 48px;
            }

            .img {
                height: 185px;
            }

            .info-box {
                display: flex;
                align-items: center;
                
                .info-container-box {
                    position: relative;
                    line-height: 25px;
                    width: 270px;
                    margin-bottom: 10px;

                    img {
                        position: absolute;
                        top: -10px;
                        left: -105px;
                        height: 46px; 
                        padding: 3px;
                    }

                    h3 {
                        color: #3c3c3c;
                        font-size: 18px;
                    }

                    p {
                        margin: 10px 0;
                        font-size: 14px;
                        opacity: 0.7;
                    }
                }

                img {
                    height: 161px;
                    margin: 0 80px 0 50px;
                }
            }

            .info-descritivo {
                line-height: 25px;
                width: 717px;

                h2 {
                    color: #3c3c3c;
                }

                p {
                    margin: 20px 0;
                }

                a {
                    color: #00a8db;
                    font-weight: bold;
                    text-decoration: none;
                }

                a:hover {
                    color: #00c3ff;
                }

                .bnt-bnt {

                    button {
                        width: 160px;
                        height: 60px;
                        border: 2px solid #777;
                        border-radius: 10px;
                        margin: 0 5px;
                        background-color: #fff;
                        box-shadow: 0px 3px 1px #777;
                    }

                    button:hover {
                        background-color: #ecebeb;
                    }

                    button:active {
                        position: relative;
                        top: 3px;
                        box-shadow: none;
                    }
                }
            }
        }

        .linha {
            width: 1100px;
            border: 1px solid #777;
            opacity: 0.2;
        }

        .column {
            flex-direction: column;
        }
    }
    
}